<table>
    <tr>
        <td>
            <label class="control-label"><span translate="labels.name"></span>
                <em>&nbsp;*</em>
            </label>
        </td>
        <td>
            <input
                type="text"
                class="form-control input-sm"
                ng-model="formModel.name"
                name="Name"
                ng-required="true"
                ng-maxlength="256"
            >
            <p
                class="valid-error"
                translate="validation.required"
                ng-if="dialogForm.Name.$error.required && !dialogForm.Name.$pristine"
            ></p>
            <p
                class="valid-error"
                translate="validation.maxLength"
                ng-if="dialogForm.Name.$error.maxlength"
            ></p>
        </td>
    </tr>
</table>

<div style="float:left; width: 100%" ng-if="isNew()">

       	<div class="data-list-filter" table-search="tableParams" table-search-value="filter.searchQuery"></div>

       	<div class="data-list-table">
            <table
                ng-table="tableParams"
                class="table table-striped table-hover ng-table-responsive"
                template-pagination="js/templates/table/table-nav.html"
            >
                <tbody ng-repeat="item in $data">
			        <tr
			                ng-click="formModel.user.id = item.id; formModel.name = item.name;"
			                ng-dblclick="formModel.user.id = item.id; formModel.name = item.name;"
			                ng-class="{active: formModel.user.id == item.id}"
			                >
			            <td data-title="tableHeaders.h1" sortable="'name'">
			                {{item.name}}
			                <i class="glyphicon glyphicon-ok pull-right" ng-show="formModel.user.id == item.id"></i>
			            </td>
			        </tr>
                </tbody>
                <tbody ng-if="$data && !$data.length">
                    <tr>
                        <td
                            translate="noData.noDataFound"
                            colspan="1"
                            style="text-align: center"
                        ></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>