<div class="dialog-list-filter">
    <div class="input-group" style="width: 300px;">
        <input class="form-control" type="text" placeholder="Find Category" ng-model="filter.searchQuery" ng-change="tableParams.reload()">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
</div>

<div class="dialog-table" style="min-height: 1px;">
    <table ng-table="tableParams" class="table table-striped table-hover ng-table-responsive" template-pagination="js/templates/table/table-nav-nosize.html">
        <tr
            ng-repeat="item in $data"
            ng-click="obj.id = item.id; obj.name = item.name"
            ng-dblclick="obj.id = item.id; obj.name = item.name; categoryToSubscriber(obj)"
            ng-class="{active: obj.id == item.id}"
        >
            <td data-title="tableHeaders.h1" sortable="'name'">
                {{item.name}}
                <i class="glyphicon glyphicon-ok pull-right" ng-show="obj.id == item.id"></i>
            </td>
        </tr>
    </table>
</div>



<div class="dialog-nav">
    <button
        type="button"
        class="btn btn-default btn-sm blue-btn pull-right"
        translate="buttons.next"
        ng-disabled="!obj.id"
        ng-click="categoryToSubscriber(obj)"
    ></button>
    <button
        type="button"
        class="btn btn-default pull-right btn-sm grey-btn"
        translate="buttons.cancel"
        ng-click="closeThisDialog()"
    ></button>
</div>